[
  {test_task, [
    {db, [
      {host, "localhost"},
      {username, "postgres"},
      {password, "postgres"},
      {database, "test_task"}
    ]},
    {db_pool,[
      {name, {local, pg_pool}},
      {worker_module, test_task_db},
      {size, 5},
      {max_overflow, 2}
    ]}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "info.log"}, {level, info}]},
      {lager_file_backend, [{file, "warning.log"}, {level, warning}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]}
].